@font-face {
  font-family: "iconfont"; /* Project id 4149764 */
  src: url('iconfont.woff2?t=1689040363904') format('woff2'),
       url('iconfont.woff?t=1689040363904') format('woff'),
       url('iconfont.ttf?t=1689040363904') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-baocun:before {
  content: "\e60f";
}

.icon-yiquxiao:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e8b0";
}

.icon-collection:before {
  content: "\e620";
}

.icon-arrow-down-filling:before {
  content: "\e688";
}

.icon-setting:before {
  content: "\e78e";
}

.icon-eye:before {
  content: "\e78f";
}

.icon-location:before {
  content: "\e790";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-filter:before {
  content: "\e7c7";
}

.icon-like:before {
  content: "\e7c8";
}

.icon-unlike:before {
  content: "\e7c9";
}

.icon-sound:before {
  content: "\e7da";
}

.icon-heart:before {
  content: "\e7df";
}

.icon-left:before {
  content: "\e7eb";
}

.icon-search:before {
  content: "\e8ef";
}

